﻿
@{
    ViewBag.Title = "AddLawyer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="active">Add Lawyer</li>
        </ul><!-- /.breadcrumb -->

    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="widget-box">
                    <form action="@Url.Action("AddLawyer","Home")" method="post">
                        <div class="widget-header">
                            <h4 class="widget-title">Add Lawyer</h4>

                            <span class="widget-toolbar">


                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>

                                <a href="#" data-action="close">
                                    <i class="ace-icon fa fa-times"></i>
                                </a>
                            </span>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <label for="id-date-picker-1">First Name</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" name="FirstName" required/>
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Last Name</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" name="LastName" required/>
                                    </div>
                                </div>
                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">CNIC</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input class="form-control"  type="text"  name="CNIC"  id="cnic" onchange="Validate()" maxlength="15" required/>
                                        <p class="text-danger" id="error"></p>
                                    </div>
                                </div>
                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Address</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" name="Address" required/>
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Year Of Joined</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" name="YearOfJoined" required/>
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Booth Number</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" name="BoothNumber" required/>
                                        <input onchange="return trim(this)" type="hidden" value="0" name="SupporterType"/>
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <div class="space space-8"></div>

                                <label for="id-date-picker-1">Specific Note</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <textarea class="form-control" name="SpecificNote" placeholder="Enter reason here(Optional)"></textarea>
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input type="submit" class="btn btn-success" />
                                    </div>
                                </div>

                                <div class="space space-8"></div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    function Validate() {
        var cnic = document.getElementById('cnic').value;
        $.ajax({
            dataType: "json",
            type: "POST",
            url: 'CNICvalidate',
            data: { CNIC: cnic },
            success: function (response) {
                if (response == false) {
                    $("#error").html("CNIC already exist, try again!");
                    $("#error").addClass('text-danger');
                    $(':input[type="submit"]').prop('disabled', true);
                } else {
                    $("#error").removeClass("text-danger");
                    $("#error").addClass('text-success');
                    $("#error").html("Congrates, No matching CNIC found.");
                    $(':input[type="submit"]').prop('disabled', false);
                }
            },
            error: function (response) { alert(Error); }
        });
    };
$('#cnic').keydown(function(){

  //allow  backspace, tab, ctrl+A, escape, carriage return
  if (event.keyCode == 8 || event.keyCode == 9
                    || event.keyCode == 27 || event.keyCode == 13
                    || (event.keyCode == 65 && event.ctrlKey === true) )
                        return;
  if((event.keyCode < 48 || event.keyCode > 57))
   event.preventDefault();

  var length = $(this).val().length;

  if(length == 5 || length == 13)
   $(this).val($(this).val()+'-');

    }).jquery;

    function trim(el) {
        el.value = el.value.
            replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
            replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
            replace(/\n +/, "\n");           // Removes spaces after newlines
        return;
    }
</script>