﻿@model IEnumerable<VoteCount.Models.Lawyer>
@{
    ViewBag.Title = "ListOfLawyers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="active">View Lawyers</li>
        </ul><!-- /.breadcrumb -->

    </div>

    <div class="page-content">


        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">List of Lawyers</h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Results for "List Of Lawyers"
                </div>

                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped table-bordered table-hover" height="500">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>CNIC</th>
                                <th>Address</th>
                                <th class="hidden-480">Year Of Joined</th>
                                <th>Booth Number</th>
                                <th>Specific Note</th>
                                <th>Supporter Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.CNIC</td>
                                    <td>@item.Address</td>
                                    <td>@item.YearOfJoined</td>
                                    <td>@item.BoothNumber</td>
                                    <td>@item.SpecificNote</td>
                                    @if (item.SupporterType == 0)
                                    {
                                        <td>Ambiguous</td>
                                    }
                                    else if (item.SupporterType == 1)
                                    {
                                        <td>Favor</td>
                                    }
                                    else if (item.SupporterType == 2)
                                    {
                                        <td>Opposition</td>
                                    }
                                    else
                                    {
                                        <td>Ambiguous</td>
                                    }
                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a class="blue" href="#">
                                            </a>

                                            <a class="green" href="#editModal" onclick="EditAdmin('@item.Id','@item.CNIC','@item.FirstName','@item.LastName','@item.Address','@item.YearOfJoined','@item.BoothNumber','@item.SpecificNote','@item.SupporterType','@item.AdminId')" data-toggle="modal" data-target="#editModal">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a class="red" href="#deletemyModal" data-toggle="modal" id="deleteModal" data-target="#deletemyModal" data-id=@item.Id>
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletemyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("DeleteLawyer","Home")" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    Do you really want to delete this record?
                    <input type="hidden" name="Id" id="Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("EditLawyer","Home")" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Edit Lawyer</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">CNIC:</label>
                        <input class="form-control" type="text" name="CNIC" id="cnic" onchange="Validate()" maxlength="15" required />
                        <p id="error"></p>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">First Name:</label>
                        <input type="hidden" name="Id" id="ID" />
                        <input onchange="return trim(this)" type="text" class="form-control" id="fname" name="FirstName" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Last Name:</label>
                        <input onchange="return trim(this)" type="text" class="form-control" id="lname" name="LastName" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Address:</label>
                        <input onchange="return trim(this)" type="text" class="form-control" id="address" name="Address" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Year Of Joined:</label>
                        <input onchange="return trim(this)" type="text" class="form-control" id="yoj" name="YearOfJoined" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Booth Number:</label>
                        <input onchange="return trim(this)" type="text" class="form-control" id="booth" name="BoothNumber" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Specific Note:</label>
                        <textarea class="form-control" name="SpecificNote" id="note" placeholder="Enter reason here(Optional)"></textarea>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">Supporter Type:</label>
                        <select class="form-control" name="SupporterType" id="role" required>
                            <option selected value=""> Select Role</option>
                            <option value="0"> Ambiguous</option>
                            <option value="1"> Favor</option>
                            <option value="2"> Opposition</option>
                        </select>
                        <input type="hidden" id="adminId" name="AdminId"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    function Validate() {
        var cnic = document.getElementById('cnic').value;
        $.ajax({
            dataType: "json",
            type: "POST",
            url: 'CNICvalidate',
            data: { CNIC: cnic },
            success: function (response) {
                if (response == false) {
                    $("#error").html("CNIC already exist, try again!");
                    $("#error").addClass('text-danger');
                    $(':input[type="submit"]').prop('disabled', true);
                } else {
                    $("#error").removeClass("text-danger");
                    $("#error").addClass('text-success');
                    $("#error").html("Congrates, No matching CNIC found.");
                    $(':input[type="submit"]').prop('disabled', false);
                }
            },
            error: function (response) { alert(Error); }
        });
    };
    $('#cnic').keydown(function () {

        //allow  backspace, tab, ctrl+A, escape, carriage return
        if (event.keyCode == 8 || event.keyCode == 9
            || event.keyCode == 27 || event.keyCode == 13
            || (event.keyCode == 65 && event.ctrlKey === true))
            return;
        if ((event.keyCode < 48 || event.keyCode > 57))
            event.preventDefault();

        var length = $(this).val().length;

        if (length == 5 || length == 13)
            $(this).val($(this).val() + '-');

    }).jquery;
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    function trim(el) {
        el.value = el.value.
            replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
            replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
            replace(/\n +/, "\n");           // Removes spaces after newlines
        return;
    }
    $(document).on('click', '#deleteModal', function () {
        $('.modal-body #Id').val($(this).data('id'));
        $('#deletemyModal').toggle();
    });
    function EditAdmin(Id,CNIC, FName,LName,Address,Year,Booth,Note,Type,AdminId) {
        $('#ID').val(Id);
        $('#cnic').val(CNIC);
        $('#fname').val(FName);
        $('#lname').val(LName);
        $('#address').val(Address);
        $('#yoj').val(Year);
        $('#booth').val(Booth);
        $('#note').val(Note);
        $('#role').val(Type);
        $('#adminId').val(AdminId);
    }
</script>

