﻿@model IEnumerable<VoteCount.Models.Admin>
@{
    ViewBag.Title = "ListOfAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="active">View Admins</li>
        </ul><!-- /.breadcrumb -->

    </div>

    <div class="page-content">

        
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">List of Admins</h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Results for "List Of Admins"
                </div>

                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Password</th>
                                <th class="hidden-480">Role</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                <td>@item.Name</td>
                                <td>@item.Password</td>
                                    @if (item.Role == 1)
                                    {
                                        <td>Admin</td>
                                    }
                                    else
                                    {
                                        <td>Supporter Lawyer</td>
                                    }
                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a class="blue" href="#">
                                            </a>

                                            <a class="green" href="#editModal" onclick="EditAdmin('@item.Id','@item.Name','@item.Password','@item.Role')" data-toggle="modal" data-target="#editModal">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a class="red"  href="#deletemyModal" data-toggle="modal" id="deleteModal" data-target="#deletemyModal" data-id=@item.Id>
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="deletemyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("DeleteAdmin","Home")" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    Do you really want to delete this record?
                    <input type="hidden" name="Id" id="Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("EditAdmin","Home")" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Edit Admin</h4>
                </div>
                <div class="modal-body">

                    
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Name:</label>
                        <input type="hidden" name="Id" id="ID" />
                        <input onchange="return trim(this)" type="text" class="form-control" id="name" name="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Password:</label>
                        <input onchange="return trim(this)" type="password" class="form-control" id="password" name="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <select class="form-control" name="Role" id="role" required>
                            <option selected value=""> Select Role</option>
                            <option value="1"> Admin</option>
                            <option value="2"> Supporter Lawyer</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    function trim(el) {
        el.value = el.value.
            replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
            replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
            replace(/\n +/, "\n");           // Removes spaces after newlines
        return;
    }
    $(document).on('click', '#deleteModal', function () {
        $('.modal-body #Id').val($(this).data('id'));
        $('#deletemyModal').toggle();
    });
    function EditAdmin(Id, Name, Password, Role)
    {
        $('#ID').val(Id);
        $('#name').val(Name);
        $('#password').val(Password);
        $('#role').val(Role);
    }
</script>
