﻿@model IEnumerable<VoteCount.Models.Lawyer>
@{
    ViewBag.Title = "SearchLawyer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="active">Search Lawyer</li>
        </ul><!-- /.breadcrumb -->

    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title">Search</h4>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>

                            <a href="#" data-action="close">
                                <i class="ace-icon fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            @if (ViewBag.msg==null)
                            {
                                
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    <h1>@ViewBag.msg</h1>
                                </div>
                            }
                            <form action="@Url.Action("SearchLawyerResults","Home")" method="post" class="form-inline">
                                <div class="form-group">
                                    <input onchange="return trim(this)" type="text" name="CNIC" class="form-control" id="cnic" placeholder="Enter CNIC" />
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <input onchange="return trim(this)" type="text" name="FName" class="form-control" placeholder="Enter First Name" />
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <input onchange="return trim(this)" type="text" name="LName" class="form-control" placeholder="Enter Last Name" />
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <input onchange="return trim(this)" type="text" name="Address" class="form-control" placeholder="Enter Address" />
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <input onchange="return trim(this)" type="text" name="Booth" class="form-control" placeholder="Enter Booth Number" />
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <input type="submit" value="Search" class="btn btn-success" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.span -->
        </div><!-- /.row -->

    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script>
    $('#cnic').keydown(function () {

        //allow  backspace, tab, ctrl+A, escape, carriage return
        if (event.keyCode == 8 || event.keyCode == 9
            || event.keyCode == 27 || event.keyCode == 13
            || (event.keyCode == 65 && event.ctrlKey === true))
            return;
        if ((event.keyCode < 48 || event.keyCode > 57))
            event.preventDefault();

        var length = $(this).val().length;

        if (length == 5 || length == 13)
            $(this).val($(this).val() + '-');

    }).jquery;

    function trim(el) {
        el.value = el.value.
            replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
            replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
            replace(/\n +/, "\n");           // Removes spaces after newlines
        return;
    }
</script>
